*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: rgb(10, 116, 218);
    --primary-light: #5A9CE6;
    --primary-lighter: #B3D3F9;
    --hover-color: #3f84c5;
    --secondary-color: #c1e1ff;
    --accent-color: #ff7043;
    --text-color: #333333;
    --text-lite: rgba(51, 51, 51, 0.3);
    --background-color: rgb(244, 244, 249);
    --background-darker: #ececf1;
    --border-color: rgb(224, 224, 224);
}


/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* small screen */
@media (min-width: 400px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 80%;
        margin: 0 auto;
    }
}

/* small screen */
@media (min-width: 500px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 80%;
        margin: 0 auto;
    }
}

/* 600px break point */
@media (min-width: 600px){
     /* Featured */
    
}



/* Tablets */
@media (min-width: 768px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 95%;
        margin: 0 auto;
    }

    .abt-hero h1{
        font-size: 2rem;
    }

    .abt-hero P{
        width: 650px;
        line-height: 2.5rem;
        font-size: 1.3rem;
        text-align: center;
    }

    /* Our mission */
    .mission{
        padding: 4.5rem 0;
    }

    .mis-flx {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .fl-img {
        width: 45%;
        max-height: 250px; /* Adjust height for medium screens */
    }

    .mis-cnt{
        width: 45%;
        gap: 1rem;
    }

    .mission p {
        line-height: 2rem;
        font-size: 1.1rem;
    }

    /* Focus */
    .focus-flx-cont{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .focus-flx-cont > div{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 47.5%;
        height: 25rem;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.03);
    }

    .focus-flx-cont p{
        text-align: center;
        hyphens: none;
        line-height: 2rem;
        font-size: 1.1rem;
    }

    /* Our Values */
    .values{
        padding: 3rem 0;
    }

    .values p{
        line-height: 2rem;
        font-size: 1.1rem;
    }

    .flx-values-cont > div{
        border-width: 3px;
        transition: all 0.5s ease-in-out;
    }

    .flx-values-cont > div:hover{
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
    }
}

/* laptops and above */
@media (min-width: 1000px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 93%;
        margin: 0 auto;
    }

    .abt-hero{
        padding: 4rem 0;
    }

    .abt-h-wrap{
        gap: 1.7rem;
        margin-top: 0rem;
    }

    .abt-hero h1{
        font-size: 3rem;
    }

    .abt-hero p{
        width: 768px;
        margin-inline: auto;
        font-size: 1.35rem;
        line-height: 2.4rem;
    }

    .get-started{
        font-size: 1.5rem;
        padding: 0.7rem 1.5rem;
    }

    .hand i{
        font-size: 2rem;
        right: -3rem;
        bottom: 3rem;
    }

    /* Our Mission */
    .mission{
        padding: 6rem 0;
    }

    .mission h2 {
        font-size: 2.3rem;
    }

    .mis-flx{
        width: 100%;
        justify-content: center;
        gap: 5rem;
    }

    .fl-img {
        width: 46%;
        /* max-width: 400px; */
        max-height: 350px; /* Adjust height for large screens */
    }

    .mis-cnt{
        /* align-self: start; */
        gap: 1.5rem;
    }

    .mission p {
        line-height: 2.5rem;
        font-size: 1.3rem;
    }

    /* Focus */
    .focus-flx-cont > div{
        width: 31.31%;
        height: 25rem;
        gap: 3rem;

    }

    .focus h2{
        font-size: 2.3rem;
    }

    .focus i{
        font-size: 4rem;
    }

    .focus-flx-cont > div > div{
        gap: 1.5rem;
    }

    /* Our Values */
    .values{
        padding: 5rem 0;
    }

    .values h2{
        font-size: 2.3rem;
        letter-spacing: 0.4px;
        font-weight: 800;
    }

    .values h3{
        font-size: 1.5rem;
    }

    .values p{
        line-height: 2.5rem;
        font-size: 1.3rem;
    }

    .flx-values-cont{
        padding: 3rem 0;
        gap: 3rem;
    }

    .flx-values-cont > div{
        border-width: 5px;
    }

    .values i{
        display: block;
        position: relative;
        right: 2rem;
        font-size: 2.5rem;
        transition: all 0.5s ease-in-out;
    }

    .flx-values-cont > div:hover i{
        transform: scale(1.25);
        color: var(--primary-color);
        animation: animate-icons 5s infinite;
        /* transition: all 0.5s ease-in-out; */
    }

    @keyframes animate-icons{
        0%{
            transform: rotate(0deg) scale(1.25);
        }

        50%{
            transform: rotate(-20deg) scale(1.25);
        }
        
        100%{
            transform: rotate(20deg) scale(1.25);
        }
    }
}

@media (min-width: 1500px){
    .container{
        width: 80%;
        margin: 0 auto;
    }

    .abt-hero p{
        width: 1000px;
        font-size: 1.7rem;
        line-height: 3.4rem;
        /* text-align: center; */
    }

    .mis-flx{
        gap: 10rem;
    }

    .fl-img {
        width: 40%;
        max-height: 430px; /* Adjust height for large screens */
        flex-grow: 1;
        
    }

    .mission p {
        line-height: 3.2rem;
        font-size: 1.7rem;
    }
}