*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2px;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: rgb(10, 116, 218);
    --primary-light: #5A9CE6;
    --primary-lighter: #B3D3F9;
    --hover-color: #3f84c5;
    --secondary-color: #c1e1ff;
    --accent-color: #ff7043;
    --accent-lite: rgba(255, 112, 67, 0.9);
    --text-color: #333333;
    --text-lite: rgba(51, 51, 51, 0.3);
    --text-lite-co: rgba(51, 51, 51, 0.7);
    --background-white-col: rgba(244, 244, 249, 0.85);
    --background-color: rgb(244, 244, 249);
    --background-darker: #ececf1;
    --border-color: rgb(210, 210, 210);
}

/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* ===== Mobile left and right alignment ===== */
.container{
    width: 93%;
    margin: 0 auto;
}

.abt-hero{
    /* background-color: var(--primary-color); */
    padding: 3rem 0;
    text-align: justify;
    hyphens: auto;
}

.abt-h-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.abt-hero h1{
    color: var(--text-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 1.7rem;
}

.abt-h-wrap h1 span{
    color: var(--primary-color);
    /* font-style: italic; */
}

.abt-hero p{
    color: var(--text-lite-co);
    line-height: 1.7rem;
    text-align: center;
}

.get-started{
    all: unset;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    text-transform: capitalize;
    /* margin-top: 1.5rem; */
    font-weight: 700;
}

/* Our Mission */
.mission{
    margin-top: 3rem;
    background-color: var(--background-darker);
    padding: 4rem 0;
}

.mission h2{
    color: var(--text-color);
    font-size: 1.55rem;
    text-transform: capitalize;
    font-weight: 800;
}

.mis-flx{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fl-img{
    width: 100%;
    max-height: 300px;
    /* height: 13rem; */
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mis-flx img{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 1.2s ease-in-out;
}

.mis-flx img:hover{
    transform: rotate(2deg) scale(1.2);
    /* filter: grayscale(0); */
    border-radius: 5px;
}

.mis-cnt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mission p{
    text-align: justify;
    hyphens: auto;
    /* font-size: 1rem; */
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    color: var(--text-lite-co);
}

/* Focus */
.focus{
    margin-top: 5rem;
}

.focus-wrp{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.focus-wrp h2{
    color: var(--text-color);
    font-size: 1.55rem;
    text-transform: capitalize;
    font-weight: 800;
}

.focus-flx-cont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 5rem 0;
}

.focus-flx-cont > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    border: 0.5px solid var(--border-color);
    border-radius: 5px;
    /* flex-grow: 1; */
    transition: 0.4s;
}

.focus-flx-cont > div:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: translateY(-0.3rem);
}

.focus-flx-cont > div:hover h3{
    color: goldenrod;
}

.focus-flx-cont > div:hover p{
    color: var(--background-color);
}

.focus-flx-cont i{
    font-size: 3rem;
    color: var(--primary-color);
}

.focus-flx-cont > div:hover i{
    color: var(--background-darker);
}

.focus-flx-cont p{
    color: var(--text-lite-co);
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    text-align: justify;
    hyphens: auto;
}

.focus-flx-cont h3{
    color: var(--primary-color);
    text-transform: uppercase;
}

.focus-flx-cont > div > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}