*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: rgb(10, 116, 218);
    --primary-light: #5A9CE6;
    --primary-lighter: #B3D3F9;
    --hover-color: #3f84c5;
    --secondary-color: #c1e1ff;
    --accent-color: #ff7043;
    --text-color: #333333;
    --background-color: rgb(244, 244, 249);
    --background-darker: #ececf1;
    --border-color: rgb(210, 210, 210);
}


/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* Tablets */
@media (min-width: 768px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 95%;
        margin: 0 auto;
    }

    .abt-hero h1{
        font-size: 2rem;
    }

    .abt-hero P{
        line-height: 1.7rem;
    }
}

/* laptops and above */
@media (min-width: 1000px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 93%;
        margin: 0 auto;
    }

    .abt-hero{
        padding: 5rem 0;
    }

    .abt-h-wrap{
        gap: 1.7rem;
    }

    .abt-hero h1{
        font-size: 3rem;
    }

    .abt-hero p{
        width: 768px;
        margin-inline: auto;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}