*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: #0A74DA;
    --secondary-color: #c1e1ff;
    --accent-color: rgb(255, 112, 67);
    --text-color: #333333;
    --lightborder-color: #d0d0d0;
    --background-color: rgb(244, 244, 249);
    --background-lite: rgba(244, 244, 249, 0.1);
    --dark-mode: #212429;
    --inspire: #24272c;
}

/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}


/* Dark mode class */
.dark-mode{
    background-color: var(--dark-mode);
    color: var(--background-color);
}

/* About Page */
.abt-hero.dark-mode h1{
    color: var(--background-color);
}