*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2px;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: rgb(10, 116, 218);
    --primary-light: #5A9CE6;
    --primary-lighter: #B3D3F9;
    --hover-color: #3f84c5;
    --secondary-color: #c1e1ff;
    --accent-color: #ff7043;
    --accent-lite: rgba(255, 112, 67, 0.9);
    --text-color: #333333;
    --text-lite: rgba(51, 51, 51, 0.3);
    --text-lite-co: rgba(51, 51, 51, 0.7);
    --background-white-col: rgba(244, 244, 249, 0.85);
    --background-color: rgb(244, 244, 249);
    --background-darker: #ececf1;
    --border-color: rgb(224, 224, 224);
}

/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* ===== Mobile left and right alignment ===== */
.container{
    width: 93%;
    margin: 0 auto;
}

/* Panel */
.panel{
    background-color: var(--background-color);
    /* border-top: 1px solid var(--border-color); */
    border-bottom: 1.3px solid var(--border-color);
    position: relative;
    z-index: 5;
}

.panel-bar{
    padding: 0.7rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 0;
}

.panel button{
    all: unset;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

.panel button i{
    font-size: 1.1rem;
}

.panel span{
    text-transform: capitalize;
}

/* Side bar */
aside{
    background-color: var(--background-color);
    width: 14rem;
    height: 100vh;
    border: 1px solid var(--border-color);
    padding: 2rem 0.8rem;
    overflow-y: scroll;
    box-shadow: -3px 3px 5px 7px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: -15rem;
    top: 0;
    z-index: 300000;
    display: none;
}

.sd-bar-cont{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sd-first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.sd-first button{
    all: unset;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.4rem;
    cursor: pointer;
}

.sd-categ,
.sd-bar-recent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sd-categ span,
.sd-bar-recent span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sd-categ i,
.sd-bar-recent i{
    font-size: 0.4rem;
}

.sd-categ a,
.sd-bar-recent a{
    font-size: 0.9rem;
    line-height: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.sd-categ a:hover,
.sd-bar-recent a:hover{
    color: var(--primary-color);
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.about-me p{
    font-size: 0.9rem;
    text-align: left;
    hyphens: auto;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}

.about-me img{
    border-radius: 50%;
}

.connect{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.connect span{
    display: flex;
    gap: 1rem;
}

.connect i{
    font-size: 1.7rem;
    cursor: pointer;
}

.animate{
    animation: sd-animate 1s forwards;
}

.rm-animate{
    animation: sd-rm-animate 1s backwards;
}

/* Animate Side Bar */
@keyframes sd-animate{
    0%{
        transform: translateX(0rem);
    }

    100%{
        transform: translateX(15rem);
    }
}

/* Remove Animation on Side Bar */
@keyframes sd-rm-animate{
    0%{
        transform: translateX(15rem);
    }

    100%{
        transform: translateX(0rem);
    }
}

/* Blog Post */
.cont{
    position: relative;
    z-index: 1;
}

.blg-grid-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 1.5rem 1rem;
    position: relative;
    z-index: 1;
}

.post{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--background-color);
    padding: 1.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    /* overflow: visible; */
}

.post:hover{
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.post .blg-img{
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    /* z-index: 0; */
}

.cont img{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(0.1);
    transition: 1.2s ease-in-out;
    z-index: 1;
}

.post:hover img{
    position: relative;
    transform: rotate(2deg) scale(1.12);
    filter: grayscale(0);
    border-radius: 5px;
}

.blg-descrpt{
    padding: 1.2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post a{
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: var(--primary-color);
    color: var(--background-darker);
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
}

.post:hover a{
    background-color: var(--accent-color);
    color: var(--background-color);
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease-in-out;
}

.blg-descrpt:hover a{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    /* transform: translateY(-0.2rem); */
    transition: all 0.4s;
}

.cont p{
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.post h3{
    font-size: 0.9rem;
    line-height: 1.5rem;
}
