*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root{
    --primary-color: #0A74DA;
    --secondary-color: #c1e1ff;
    --accent-color: #FF7043;
    --text-color: #333333;
    --background-color: #F4F4F9;
}

/* body */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

/* Mobile left and right alignment */
.container{
    width: 96%;
    margin: 0 auto;
}


/* Header Styling */
header{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0.7rem;
    padding-top: 0.7rem;
    /* height: 22vh; */
}

p.intro-txt{
    color: var(--background-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.logo-txt{
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.27rem;
}

header ul > li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: var(--text-colorfont);
}

header nav{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* height: 15vh; */
}

ul, input{
    display: none;
}

div.mobile-nav .material-symbols-outlined{
    font-size: 2.2rem;
}