*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Color Variables ===== */
:root{
    --primary-color: #0A74DA;
    --secondary-color: #c1e1ff;
    --accent-color: rgb(255, 112, 67);
    --text-color: #333333;
    --background-color: #F4F4F9;
}

/* ===== body ===== */
body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* small screen */
@media (min-width: 400px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 80%;
        margin: 0 auto;
    }

    /* What you get section */
    .w-get{
        margin-top: 3.3rem;
    }

    /* Inspire */
    .inspire{
        margin-top: 3rem;
    }
}

/* small screen */
@media (min-width: 500px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 80%;
        margin: 0 auto;
    }

    /* What you get section */
    .w-get{
        margin-top: 3.3rem;
    }

    /* Featured */
    .f-grid-box .b-img{
        height: 270px;
    }

    /* Inspire */
    .inspire{
        margin-top: 3rem;
    }
}

/* 600px break point */
@media (min-width: 600px){
     /* Featured */
     .f-grid-box .b-img{
        height: 290px;
    }
}

/* Tablets */
@media (min-width: 768px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 95%;
        margin: 0 auto;
    }

    p.intro-txt,
    .play-txt{
        font-size: 0.9rem;
    }

    header > nav{
        padding: 0.5rem 1.2rem;
    }

    /* ============== Hero Section =============== */
    /* .hero{
        height: 80vh;
    } */
    
    .hero-wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }

    .hero-wrapper > div{
        height: 21rem;
    }

    .carousel-img{
       width: 60%;
    }

    .hero-intro{
        width: 40%;
        gap: 1rem;
        padding: 1rem;
    }

    .hero-intro h1{
        font-size: 1.5rem;
    }

    .hero-intro p{
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    /* What you get section */
    .w-get{
        margin-top: 3.3rem;
    }

    .g-btn button{
        font-size: 1.4rem;
    }

    .g-cont p{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    /* Featured Post */
    .featured h2{
        font-size: 1.55rem;
    }

    .f-grid-box{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }  

    .f-grid-box .b-img{
        height: 220px;
    }
    
    /* Inspire */
    .inspire{
        margin-top: 3rem;
    }

    /* Contact */
    .contact-wrp{

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

     /* Contact */
     .contact h2{
        font-size: 1.4rem;
    }

    .contact-wrp > div{
        height: 250px;
    }

   /*  .contact-wrp > div{
        height: 300px;
    } */

   /*  .contact1{
        display: block;
    } */
}

/* laptops and above */
@media (min-width: 1000px){
    /* ===== Mobile left and right alignment ===== */
    .container{
        width: 93%;
        margin: 0 auto;
    }

    p.intro-txt,
    .play-txt{
        font-size: 1rem;
    }

    div.logo-txt{
        font-size: 1.5rem;
        width: 20%;
    }

    header > nav{
        width: 100%;
        padding: 1.2rem 2.8rem;
    }

    header > nav > ul,
    header > nav > input{
        display: block;
    }

    /* Hide mobile nav */
    .mobile-nav{
        display: none;
    }

    header > nav > ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 60%;
    }

    header > nav > ul > li{
        text-transform: capitalize;
        font-size: 1.3rem;
        font-weight: 500;
    }

    header > nav > ul > li:hover{
        color: var(--primary-color);
    }

    .active{
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: 700;
    }

    header > nav > input{
        width: 20%;
        max-width: 400px;
        height: 40px;
        outline: none;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
        font-size: 1.3rem;
        padding-left: 1rem;
    }

    header > nav > input::placeholder{
        font-size: 1.3rem;
        padding: 0 1rem;
    }

    /* =================== Hero ================== */
    .hero-wrapper{
        padding: 4rem 0;
    }

    .hero-wrapper > div{
        height: 25rem;
    }
    
    .hero-intro h1{
        font-size: 2.3rem;
    }

    .hero-intro p{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .hero-links > a.explore,
    .hero-links > a.abt{
        font-size: 1.5rem;
    }

    /* What you get section */
    .w-get{
        margin-top: 3.3rem;
    }

    .w-get h2{
        font-size: 2rem;
    }

    .g-btn{
        padding: 0.7rem 0;
    }

    .g-btn button{
        font-size: 1.6rem;
    }

    .g-cont p{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    /* Featured Post */
    .featured{
        padding: 4rem 0;
    }

    .featured h2{
        font-size: 2rem;
    }

    .featured h3{
        line-height: 1.7rem;
    }

    .f-grid-box{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        row-gap: 2.5rem;
    }

    .f-grid-box > div{
        padding: 1.5rem 1rem;
    }

    .f-wrap{
        gap: 4.5rem;
    }

    a.f-view{
        font-size: 1.5rem;
        padding: 0.8rem 1.5rem;
    }

    /* Inspire */
    .inspire{
        margin-top: 4rem;
    }

    .insp-wr{
        font-size: 1.45rem;
        letter-spacing: 0.3px;
        width: 68%;
        margin-inline: auto;
        /* height: 7rem; */
    }

    .insp-wr > p{
        width: 68%;
        margin: 0 auto;
    }

    /* Contact */
    .contact-wrp{
        gap: 5rem;
        padding: 4rem 0rem;
    }

    .contact h2{
        font-size: 2.2rem;
    }

    .contact p{
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: 0.3px;
    }

    .contact-wrp > div{
        height: 350px;
    }

    .contact span > i{
        font-size: 2.2rem;
    }

    .contact span{
        gap: 3rem;
    }

    .contact2{
        gap: 2.5rem;
    }

    /* Footer */
    footer > div:nth-child(1){
        padding: 5.5rem 0;
        gap: 2rem;
    }

    footer h4{
        font-size: 1.5rem;
    }

    footer p{
        font-size: 0.95rem;
    }
    
}

/* TV */
@media (min-width: 1500px){
    .container{
        width: 80%;
        margin: 0 auto;
    }

    p.intro-txt,
    .play-txt{
        font-size: 1.3rem;
        letter-spacing: 0.5px;
    }

    div.logo-txt{
        font-size: 1.8rem;
    }

    header > nav{
        padding: 1.2rem 12rem;
    }

    header > nav > ul{
        gap: 8rem;
    }

    header > nav > ul > li{
        font-size: 1.7rem;
    }

    header > nav > input{
        font-size: 1.7rem;
    }

    header > nav > input::placeholder{
        font-size: 1.5rem;
    }

    /* =================== Hero ================== */
    .hero-wrapper{
        padding: 5rem 0;
    }

    .hero-wrapper{
        gap: 3rem;
    }

    .hero-wrapper > div{
        height: 50vh;
    }
    
    .hero-intro h1{
        font-size: 3rem;
    }

    .hero-intro p{
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .hero-links > a.explore,
    .hero-links > a.abt{
        font-size: 2rem;
    }

    /* What you get section */
    .w-get{
        margin-top: 3.3rem;
    }

    .w-get h2{
        font-size: 2.7rem;
    }

    .g-btn{
        padding: 1.5rem 0;
    }

    .g-btn button{
        font-size: 2rem;
    }

    .g-cont p{
        font-size: 1.8rem;
        line-height: 2.9rem;
    }

    /* Featured Post */
    .featured h2{
        font-size: 2.7rem;
    }

    .f-grid-box .b-img{
        height: 290px;
    }
}